/*
layout
*/

.border-pane
{
    -fx-padding: 0 10 0 10;
    padding: 0 10 0 10;    
}

.interval-button
{
    -fx-pref-width: 100;
    -fx-pref-height: 50;
    -fx-text-alignment: center;
}

.label
{
    -fx-padding: 10 0 10 0;
    padding: 10 0 10 0;
}

.pitch-label
{   -fx-pref-width: 30;
    -fx-pref-height: 25;
    -fx-text-alignment: left;
}

.range-spinner
{
    -fx-pref-width: 60;
    -fx-pref-height: 25;
}

.vbox
{
    -fx-padding: 20 20 20 20;
    padding: 20 20 20 20;
}

/*
response button colors
*/
.correct
{
    -fx-background-color: #00ff00;
    background-color: #00ff00;
}

.wrong
{
    -fx-background-color: #7c0000;
    background-color: #7c0000;
    -fx-text-fill: white;
}