/*
layout
*/

.border-pane
{
    -fx-padding: 0 10 0 10;
    padding: 0 10 0 10;    
}

.vbox
{
    -fx-padding: 20 20 20 20;
    padding: 20 20 20 20;
}

.range-spinner
{
    -fx-pref-width: 60;
    -fx-pref-height: 25;
}

/*
response button colors
*/
.correct
{
    -fx-background-color: #00ff00;
    background-color: #00ff00;
}

.wrong
{
    -fx-background-color: #7c0000;
    background-color: #7c0000;
    -fx-text-fill: white;
}